.App {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    text-align: center;
    color: white;
}

.button {
    font-size: 3rem;
    padding: 1.5rem;
    cursor: pointer;
}

.switches {
    margin-top: 3rem;
}

.switch {
    display: flex;
    font-size: 2rem;
    align-items: center;
    margin-bottom: 1rem;
}

.switch input {
    transform: scale(3);
    margin-right: 2rem;
    cursor: pointer;
}

.switch label {
    cursor: pointer;
}

.label {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.radios {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    font-size: 2rem;
    align-items: baseline;
}

.radios .title {
    margin-left: -0.5rem;
    margin-bottom: 1rem;
}

.radio {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
    cursor: pointer;
}

.radio input {
    transform: scale(3);
    margin-right: 2rem;
    cursor: pointer;
}

.radio label {
    cursor: pointer;
}
